Requirements expressend in natural language

You want to make a database for a mobile application who returns the possible list of recipe that a customer/user could make with the products that has available.

/*Entity*/
As for the Recipes you want to represent a unique identifier(ID), a name , a type , a short description , the cuisine whom belongs , the origin country , the origin region , the time required , the difficulty request , the author name and a link for the author. 

As for the Products you want to represent the name , the class of product and the image for representing the product.

As for the Tool you want to represent the name and the image for representing it.

/*da sistemare eer*/ /*da pensare insieme agli altri*/
As for the User you want to represent the username , the email and the password.

As for the Step you want to represent a unique identifier(ID), a description , the time required , a picture and a video.

/*Relationship*/
About the Recipe , you want to store :

-the ingredients required ;
-the tools required ;
-the  sequences of steps ;
-if a user is a author ;
-the vote and a review of a user.


About the User , you want to store :

-the ingredients available ;
-the tools available.






